### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
data_combined = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [4]:
# Calculate the total number of schools
total_schools = len(data_combined.school_name.unique())

In [5]:
# Calculate the total number of students
total_students = len(data_combined['Student ID'].unique())

In [6]:
# Calculate the total budget
total_budget = data_combined.budget.unique().sum()

In [7]:
# Calculate the average math score
avg_math_score = data_combined.math_score.mean()

In [8]:
# Calculate the average reading score
avg_reading_score = data_combined.reading_score.mean()

In [9]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_stu = 100*len(data_combined[data_combined.math_score >= 70])/39170

In [10]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_stu = 100*len(data_combined[data_combined.reading_score >= 70])/39170

In [11]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
overall_passing_stu = 100*len(data_combined[(data_combined.math_score >= 70) & (data_combined.reading_score >= 70)])/39170

In [12]:
district_summary = pd.DataFrame({'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 'Average Math Score': [avg_math_score], 'Average Reading Score': [avg_reading_score], '% Passing Math': [passing_math_stu], '% Passing Reading': [passing_reading_stu], '% Overall Passing': [overall_passing_stu]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [16]:
# Create an overview table that summarizes key metrics about each school, including:
# School Type
school_type = data_combined.groupby(['school_name'])['type'].unique()

In [17]:
# Total Students
total_school_students = data_combined.groupby(['school_name'])['Student ID'].count()

In [18]:
# Total School Budget
total_school_budget = data_combined.groupby(['school_name'])['budget'].unique()

In [19]:
# Per Student Budget
per_student_budget = data_combined.groupby(['school_name'])['budget'].unique()/total_school_students

In [20]:
# Average Math Score
avg_school_math_score = data_combined.groupby(['school_name'])['math_score'].mean()

In [21]:
# Average Reading Score
avg_school_reading_score = data_combined.groupby(['school_name'])['reading_score'].mean()

In [22]:
# % Passing Math
perc_school_passing_math = 100*data_combined[data_combined.math_score >= 70].groupby(['school_name'])['math_score'].count()/total_students

In [23]:
# % Passing Reading
perc_school_passing_reading = 100*data_combined[data_combined.reading_score >= 70].groupby(['school_name'])['reading_score'].count()/total_students

In [25]:
# % Overall Passing (The percentage of students that passed math and reading)
perc_school_passing_overall = 100*data_combined[(data_combined.math_score >= 70) & (data_combined.reading_score >= 70)].groupby(['school_name'])['Student ID'].count()/total_students

In [26]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': school_type, 'Total Students': total_school_students, 'Total School Budget': total_school_budget, 'Per Student Budget': per_student_budget, 'Average Math Score': avg_school_math_score, 'Average Reading Score': avg_school_reading_score, '% Passing Math': perc_school_passing_math, '% Passing Reading': perc_school_passing_reading, '% Overall Passing': perc_school_passing_overall,})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,8.470768,10.408476,6.941537
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,4.465152,4.603013,4.332397
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,4.968088,6.078632,4.005617
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,4.776615,5.545060,3.796273
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,3.500128,3.640541,3.395456
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,7.898902,9.568547,6.333929
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,1.008425,1.049272,0.972683
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,4.891499,6.055655,3.985193
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,8.029104,9.872351,6.507531
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,2.323207,2.356395,2.223641
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,6.775594,8.189941,5.409752
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,4.220066,4.309420,4.041358
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,3.893286,4.061782,3.796273
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,5.471024,5.626755,5.279551
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,4.288997,4.439622,4.151136

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type