### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
data_combined = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [4]:
# Calculate the total number of schools
total_schools = len(data_combined.school_name.unique())

In [5]:
# Calculate the total number of students
total_students = len(data_combined['Student ID'].unique())

In [6]:
# Calculate the total budget
total_budget = data_combined.budget.unique().sum()

In [7]:
# Calculate the average math score
avg_math_score = data_combined.math_score.mean()

In [8]:
# Calculate the average reading score
avg_reading_score = data_combined.reading_score.mean()

In [9]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_stu = 100*len(data_combined[data_combined.math_score >= 70])/39170

In [10]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_stu = 100*len(data_combined[data_combined.reading_score >= 70])/39170

In [11]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
overall_passing_stu = 100*len(data_combined[(data_combined.math_score >= 70) & (data_combined.reading_score >= 70)])/39170

In [12]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({'Total Schools': [total_schools], 'Total Students': [total_students], 'Total Budget': [total_budget], 'Average Math Score': [avg_math_score], 'Average Reading Score': [avg_reading_score], '% Passing Math': [passing_math_stu], '% Passing Reading': [passing_reading_stu], '% Overall Passing': [overall_passing_stu]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# Optional: give the displayed data cleaner formatting

## School Summary

In [16]:
# Create an overview table that summarizes key metrics about each school, including:
# School Type
school_type = data_combined.groupby(['school_name'])['type'].unique()

In [17]:
# Total Students
total_school_students = data_combined.groupby(['school_name'])['Student ID'].count()

In [18]:
# Total School Budget
total_school_budget = data_combined.groupby(['school_name'])['budget'].unique()

In [19]:
# Per Student Budget
per_student_budget = data_combined.groupby(['school_name'])['budget'].unique()/total_school_students

In [20]:
# Average Math Score
avg_school_math_score = data_combined.groupby(['school_name'])['math_score'].mean()

In [21]:
# Average Reading Score
avg_school_reading_score = data_combined.groupby(['school_name'])['reading_score'].mean()

In [22]:
# % Passing Math
perc_school_passing_math = 100*data_combined[data_combined.math_score >= 70].groupby(['school_name'])['math_score'].count()/total_students

In [23]:
# % Passing Reading
perc_school_passing_reading = 100*data_combined[data_combined.reading_score >= 70].groupby(['school_name'])['reading_score'].count()/total_students

In [25]:
# % Overall Passing (The percentage of students that passed math and reading)
perc_school_passing_overall = 100*data_combined[(data_combined.math_score >= 70) & (data_combined.reading_score >= 70)].groupby(['school_name'])['Student ID'].count()/total_students

In [33]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': school_type, 'Total Students': total_school_students, 'Total School Budget': total_school_budget, 'Per Student Budget': per_student_budget, 'Average Math Score': avg_school_math_score, 'Average Reading Score': avg_school_reading_score, '% Passing Math': perc_school_passing_math, '% Passing Reading': perc_school_passing_reading, '% Overall Passing': perc_school_passing_overall,})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,8.470768,10.408476,6.941537
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,4.465152,4.603013,4.332397
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,4.968088,6.078632,4.005617
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,4.776615,5.545060,3.796273
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,3.500128,3.640541,3.395456
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,7.898902,9.568547,6.333929
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,1.008425,1.049272,0.972683
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,4.891499,6.055655,3.985193
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,8.029104,9.872351,6.507531
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,2.323207,2.356395,2.223641
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,6.775594,8.189941,5.409752
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,4.220066,4.309420,4.041358
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,3.893286,4.061782,3.796273
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,5.471024,5.626755,5.279551
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,4.288997,4.439622,4.151136

In [ ]:
# Optional: give the displayed data cleaner formatting

## Top Performing Schools (By % Overall Passing)

In [57]:
# Sort and display the top five performing schools by % overall passing
school_summary.sort_values(by=['% Overall Passing'], ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,8.470768,10.408476,6.941537
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,8.029104,9.872351,6.507531
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,7.898902,9.568547,6.333929
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,6.775594,8.189941,5.409752
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,5.471024,5.626755,5.279551

## Bottom Performing Schools (By % Overall Passing)

In [56]:
# Sort and display the five worst-performing schools by % overall passing
school_summary.sort_values(by=['% Overall Passing']).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,1.008425,1.049272,0.972683
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,2.323207,2.356395,2.223641
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,3.500128,3.640541,3.395456
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,4.776615,5.545060,3.796273
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,3.893286,4.061782,3.796273

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [145]:
data_combined

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [146]:
# Create a pandas series for each grade. Hint: use a conditional statement
grade_9th = pd.Series(data_combined[data_combined['grade'] == '9th']['math_score'].values, index = data_combined[data_combined['grade'] == '9th']['school_name'])
grade_10th = pd.Series(data_combined[data_combined['grade'] == '10th']['math_score'].values, index = data_combined[data_combined['grade'] == '10th']['school_name'])
grade_11th = pd.Series(data_combined[data_combined['grade'] == '11th']['math_score'].values, index = data_combined[data_combined['grade'] == '11th']['school_name'])
grade_12th = pd.Series(data_combined[data_combined['grade'] == '12th']['math_score'].values, index = data_combined[data_combined['grade'] == '12th']['school_name'])

In [147]:
# Group each series by school
grade_9th_group = grade_9th.groupby('school_name').mean()
grade_10th_group = grade_10th.groupby('school_name').mean()
grade_11th_group = grade_11th.groupby('school_name').mean()
grade_12th_group = grade_12th.groupby('school_name').mean()

In [148]:
# Combine the series into a dataframe
math_avg_df = pd.concat([grade_9th_group, grade_10th_group, grade_11th_group, grade_12th_group], axis=1)
math_avg_df = math_avg_df.rename(columns={0: "9th", 1: "10th", 2: "11th", 3: "12th"})

In [149]:
# Optional: give the displayed data cleaner formatti

In [150]:
math_avg_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create a pandas series for each grade. Hint: use a conditional statement
grade_9th = pd.Series(data_combined[data_combined['grade'] == '9th']['reading_score'].values, index = data_combined[data_combined['grade'] == '9th']['school_name'])
grade_10th = pd.Series(data_combined[data_combined['grade'] == '10th']['reading_score'].values, index = data_combined[data_combined['grade'] == '10th']['school_name'])
grade_11th = pd.Series(data_combined[data_combined['grade'] == '11th']['reading_score'].values, index = data_combined[data_combined['grade'] == '11th']['school_name'])
grade_12th = pd.Series(data_combined[data_combined['grade'] == '12th']['reading_score'].values, index = data_combined[data_combined['grade'] == '12th']['school_name'])

In [ ]:
# Group each series by school
grade_9th_group = grade_9th.groupby('school_name').mean()
grade_10th_group = grade_10th.groupby('school_name').mean()
grade_11th_group = grade_11th.groupby('school_name').mean()
grade_12th_group = grade_12th.groupby('school_name').mean()

In [ ]:
# Combine the series into a dataframe
reading_avg_df = pd.concat([grade_9th_group, grade_10th_group, grade_11th_group, grade_12th_group], axis=1)
reading_avg_df = reading_avg_df.rename(columns={0: "9th", 1: "10th", 2: "11th", 3: "12th"})

In [ ]:
# Optional: give the displayed data cleaner formatti

In [ ]:
reading_avg_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type